<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>手机商城3</title>
		<link rel="stylesheet" type="text/css" href="css/shangcheng3.css"/>
		<meta name="viewport" content="width=device-width, initial-scale=0 , user-scalable=0">
		<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue-resource.js" type="text/javascript" charset="utf-8"></script>		
		<!--<script src="js/shangcheng.js" type="text/javascript" charset="utf-8"></script>-->
	</head>
	<body>
		<div class="contain">
		<header>
			<div class="nav_left">
				<i></i>
				<a href="#">分类</a>
			</div>
			<input type="" name="" id="" value="" placeholder="手机网页搜索" />
			<img src="img/tips/sc_06.png" alt="" />
		</header>
		<div class="banner">
			<img src="img/banner/ssc_03.png" width="100%" />
			<div class="round">
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
			</div>
		</div>
		<div class="centent">
			<ul>	
				<ones  :contents='item' v-for="item in roundList"></ones>
			</ul>
		</div>
		<div class="centent">	
			<h2>
				<i></i>
				<span class="titleone">{{title.cheapest}}</span>
			</h2>
			<div class="product">
				<twos :product='cheapest.products[0]' class="product_left" v-if="flag">				
				</twos>	
				<div class="product_right">
					<twos :product='cheapest.products[1]' class="product_top" v-if="flag"></twos>
					<twos :product='cheapest.products[2]' class="product_top pro_left" v-if="flag"></twos>
				</div>
			</div>				
		</div>
		<div class="centent">
			<img src="img/banner/sc_44.png" width="100%"/>
		</div>
		<!--第二种产品-->
		<div class="centent">
			<h2>
				<i></i>
				<span class="titleone">{{title.thanks}}</span>
			</h2>
			<div class="product">
				<twos class="product_left chanpin_right" :product='thanks.products[0]' v-if="flag"></twos>			
				<div class="product_right chanpin_left">
					<twos class="product_top" :product='thanks.products[1]' v-if="flag">				
					</twos>
					<twos class="product_top pro_left" :product='thanks.products[2]' v-if="flag">						
					</twos>
				</div>
			</div>
		</div>
		<!--第二个广告-->
		<div class="centent">
			<img src="img/banner/sc_47.png" width="100%"/>
		</div>
		<!--第三类产品-->
		<div class="centent">
			<h2>
				<i></i>
				<span class="titletwo">{{title.beautiful}}</span>
			</h2>
			<div class="product">
				<twos class="product_left" :product='beautiful.products[0]' v-if="flag"></twos>
				<div class="product_right">
					<twos class="product_top" :product='beautiful.products[1]' v-if="flag"></twos>
					<twos class="product_top pro_left" :product='beautiful.products[2]' v-if="flag"></twos>
				</div>
			</div>
			<div class="pos_round">
			<a href="#"></a>
		</div>
		</div>
		<footer>
			<div class="link">
				<p><a href="#">登录</a>∣<a href="#">注册</a></p>
				<span>回主页</span>
			</div>
			<div class="liank">
				<a href="#">触摸屏</a>∣<a href="#">电脑版</a>∣<a href="#">APP版</a>
			</div>
			<div class="linkaa">
				<a href="#">正规药品</a><a href="#">提供发票</a><a href="#">7天退换</a>
			</div>
			<div class="tell">资讯电话：400-80082222</div>
		</footer>
		</div>
		<script src="js/vuesc.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
