.classify{
	background: white;
	border-top: 0.02rem solid #e5e5e5;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
}
.classify li{
	padding: 0.1rem 0;
	float: left;
	width: 33.3%;
	margin: 0 auto;
}
.classify li span{
	display: block;
	height: 0.5rem;
	width: 0.5rem;
	background: url(../img/dangpu/bkg_01.jpg);
	margin: auto;
    background-size: 1.23rem 2.06rem;
}
.classify li a{
	line-height: 0.3rem;
	font-size: 0.2rem;
	display: block;
	width:100%;
	color: #808080;
	text-align: center;
}
.classify .cur a{
	color: #33ccff!important;
}
.classify .cur span{
	background-position-x: -0.74rem!important;
}