.top_nav{
	position: relative;
    height: 0.88rem;
    line-height: 0.88rem;
    background: #33ccff;
}
.top_nav p{
    position: absolute;
    left: 0.32rem;
    top: 50%;
    display: inline-block;
    height: 0.2rem;
    width: 0.2rem;
    border-bottom: 0.04rem solid white;
    border-left: 0.04rem solid white;
    transform: translateY(-50%) scaleY(1) rotate(45deg);
    cursor: pointer;	
}
.top_nav span{
    font-size: 0.32rem;
    color: white;
    text-align: center;
    line-height: 0.88rem;
    display: block;	
}
.top_nav a{
	position: absolute;
    font-size: 0.22rem;
    color: white; 
    display: block;	
    top: 0;
    cursor: pointer;	
    right: .18rem;	
}
.content_one {
	overflow: hidden;
}
.content_one h1{
	margin-left: .2rem;
	color: #7c7c84;
	font-size: .24rem;
	line-height: .78rem;
	border-bottom: 1px solid #e1e1e1;
}
.content_one img{

	width: 2rem;
	height: 2rem;

}
.content_small{
	padding:.2rem 0 0 .2rem;
	display: flex;
	cursor: pointer;
}
.right{
	margin-top: 0.2rem;
	margin-left: .2rem;
	flex: 1;
	border-bottom: 1px solid #e1e1e1;
	padding-bottom: 0.08rem;
}
.right p{
	word-break: break-all;
	font-size: .26rem;
	color: #333333;
	height: 0.72rem;
	line-height: 0.36rem;
	padding-right: 0.2rem;
}
.float{
	padding-top: .3rem;
	display: block;
	margin-bottom: .4rem;
	height: 0.5rem;
	overflow: hidden;
	position: relative;
}

.float span{
	display: block;
	line-height: 0.5rem;
}
.float span:nth-child(1){
	font-size: .24rem;
	color: red;
	float: left;
}
.float span i{
	
}
.float span:nth-child(2){
	font-size: .23rem;
	color: #7c7c84;
	border: 1px solid #e1e1e1;
	border-radius: .08rem;
	height: 0.5rem;
	width: 1.1rem;
	float: right;
	margin-right: 1.06rem;
	box-sizing: border-box;
	text-align: center;
}
.float em{
	width: 0.5rem;
    height: 0.5rem;
    display: block;
    background: url(../img/collection/coll_02.gif) 50% 50% no-repeat;
    background-size: 0.33rem 0.3rem;
    border-radius: 0.08rem;
    border: 0.01rem solid #fb2257;
    position: absolute;
    bottom: 0;
    right: 0.2rem;
    box-sizing: border-box;
}
.delet{cursor: pointer;}




..content_one{
	margin-bottom: 1rem;
}
