header {
	position: relative;
	height: 0.88rem;
	background: #33CCFF;
}

header p {
	position: absolute;
	left: 0.32rem;
	top: 50%;
	display: inline-block;
	height: 0.2rem;
	width: 0.2rem;
	border-bottom: 0.04rem solid white;
	border-left: 0.04rem solid white;
	transform: translateY(-50%) scaleY(1) rotate(45deg);
	cursor: pointer;
}

header span {
	font-size: 0.32rem;
	color: white;
	text-align: center;
	line-height: 0.88rem;
	display: block;
}

.order {
	display: flex;
}

.order li {
	cursor: pointer;
	flex: 1;
	text-align: center;
	height: 0.85rem;
	line-height: 0.85rem;
	border-top: 0.01rem solid #cbcbcb;
	border-bottom: 0.01rem solid #e3e5e9;
	box-sizing: border-box;
	color: #686868;
	position: relative;
	font-size: 0.26rem;
}

.order li i {
	background: #33CCFF;
	display: none;
	height: 0.04rem;
	width: 0.76rem;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.order .cur {
	color: #33CCFF;
}

.order .cur i {
	display: block;
}

.no_order {
	width: 100%;
	margin-top: 2rem;
}

.no_order img {
	margin: 0 auto;
	display: block;
	width: 1.14rem;
}

.no_order p {
	text-align: center;
	font-size: 0.34rem;
	color: #848689;
	margin-top: 0.67rem;
}