header{
	position: relative;
	height: 0.88rem;
	background: #33ccff;
}
header p{
	position: absolute;
	left: 0.32rem;
	top:50%;
	display: inline-block;
    height: 0.2rem;
    width: 0.2rem;
    border-bottom: 0.04rem solid white;
    border-left: 0.04rem solid white;
    transform:translateY(-50%) scaleY(1) rotate(45deg);
    cursor: pointer;
}
header span{
	font-size: 0.32rem;
	color: white;
	text-align: center;
	line-height: 0.88rem;
	display: block;
}
.touch{
	margin-top: 0.1rem;
	border-bottom: 0.16rem solid #EEEEEE;
	
}
.touch p{
	margin-right: 0.6rem;
	padding-left: 0.893rem;
	text-align: left;
	font-size: 0.29rem;
	overflow: hidden;
	line-height: 0.7rem;
	color: #000000;
}
.touch p i{
	float: right;
}
.touch div{
	margin-left: 0.33rem;
	margin-right: 0.34rem;
	position: relative;
}
.touch div strong{
	background: url(../img/dtbj.png) no-repeat left;
	font-size: 0.24rem;
    background-size: auto 100%;
	line-height: 0.35rem;
	display: block;
	width: 4.6rem;
	padding-left: 0.6rem;
}
.touch div i{
	position: absolute;
	right: 0;
	top:50%;
	display: inline-block;
    height: 0.2rem;
    width: 0.2rem;
    border-bottom: 0.02rem solid #979797;
    border-right: 0.02rem solid #979797;
    transform:translateY(-50%) scaleY(1) rotate(-45deg)
}
.touch span{
	color: #e4a031;
	font-size: 0.24rem;
	display: block;
	padding-left: 0.93rem;
	margin-bottom: 0.38rem;
}
.tm{
	font-size: 0.24rem;
	background: url(../img/tm.png) no-repeat left;
	line-height: 0.88rem;
	margin-left: 0.24rem;
	padding-left: 0.57rem;
	background-size: 0.34rem;
}
.goods{
	display: flex;
	background: #f6f6f6;
}
.goods img{
	display: block;
	width: 1.52rem;
	height: 1.6rem;
	margin: 0.12rem 0.24rem;
}
.goods .right_tett{
	flex: 1;
	margin-top: 0.2rem;
	overflow: hidden;
}
.goods .right_tett .referral{
	width: 2.7rem;
	float: left;
	font-size: 0.23rem;
	outline-color: #444444;
}
.goods .right_tett .referral i{
	display: block;
	margin-top: 0.16rem;
	height: 0.34rem;
	line-height: 0.34rem;
	width: 0.94rem;
	border: 0.01rem solid #d92d3d;
	color: #ae2e3d;
	font-size: 0.16rem;
	box-sizing: border-box;
	text-align: center;
	border-radius: 0.05rem;
}
.goods .right_tett span{
	margin-right: 0.26rem;
	display: block;
}
.goods .right_tett span i{
	display: block;
	text-align: right;
	font-size: 0.2rem;
}
.goods .right_tett span strong{
	display: block;
	font-size: 0.17rem;
	color: #979797;
	margin-top: 0.2rem;
	text-align: right;
}
.goods .right_tett span strong i{
	display: inline-block;
}
.dispatching{ 
	font-size: 0.26rem;
	margin: 0 0.24rem;
	border-bottom: 0.17rem solid #eeeeee;
	box-sizing: border-box;
	margin-bottom: 2rem;
}
.dispatching {
	font-size: 0.26rem;
	position: relative;
	border-bottom: 0.01rem solid #dfdfdf;
	line-height: 0.88rem;
	text-align: left;
	overflow: hidden;
}
.dispatching p{
	position: relative;
}
.dispatching .leave_word{
	display: flex;
}
.dispatching p i{
	position: absolute;
	top: 50%;
	right: 0.4rem;
	transform: translateY(-50%)
}
.dispatching p em{
	position: absolute;
	right: 0.1rem;
	top:50%;
	display: inline-block;
    height: 0.2rem;
    width: 0.2rem;
    border-bottom: 0.02rem solid #979797;
    border-right: 0.02rem solid #979797;
    transform: translateY(-50%) rotate(-45deg)
}
.dispatching p input{
	padding-left: 0.32rem;
	flex: 1;
}
.dispatching .big_round{
	font-size: 0.25rem;
}
.dispatching .big_round span{
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	padding: 0;
	display: block;
	width: 0.96rem;
	height: 0.55rem;
	border: 0.02rem solid #e0e0e0;
	border-radius: 1rem;
	box-sizing: border-box;
}
.dispatching .big_round span a{
	display: block;
	position: absolute;
	top: -0.01rem;
	width: 0.54rem;
	height: 0.54rem;
	border-radius: 50%;
	border: 0.02rem solid #e0e0e0;
	background: white;
	cursor: pointer;
	box-sizing: border-box;
}
.dispatching .commodity{
	text-align: right;
	font-size: 0.23rem;
	line-height: 0.89rem;
	border-bottom: 0.01rem solid #dbdbdb;
}
.dispatching .commodity i{
	color: #be2053;
	font-size: 0.23rem;
}


.balance{
	position: fixed;
	bottom: 0;
	left: 0;
	display: flex;
	background: white;
	height: 1rem;
	width: 100%;
	border-top: 0.01rem solid #cacaca;
}
.balance .left_t{
	flex: 1;
	font-size: 0.26rem;
	padding-left: 1.18rem;
	color: #000;
	height: 1rem;
	line-height: 1rem;
}
.balance .left_t i{
	color: #AE2E3D;
}
.balance .right_s{
	height: 1rem;
	line-height: 1rem;
	font-size: 0.3rem;
	background: #EE8219;
	width: 2.2rem;
	text-align: center;
	color: white;
	 cursor: pointer;
}