header{
	background: #33ccff;
	height: 0.88rem;
	position: relative;
}

header span{
	position: absolute;
	left: 0.2rem;
	bottom: 0.25rem;
	font-size: 0.25rem;
	color: white;
	cursor: pointer;
}
header p{
	text-align: center;
	display: block;
	font-size: 0.32rem;
	color: white;
	line-height: 0.88rem;
}
header img{
	position: absolute;
	right: 0.15rem;
	bottom: 0.27rem;
	display: block;
}
.content{
	overflow: hidden;
}
.goods{
	display: flex;
	padding: 0.2rem 0 0 0.2rem;
	position: relative;
}
.round{
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	border-radius: 50%;
	height: 0.28rem;
	width: 0.28rem;
	display: block;
	border: 0.01rem solid #383838;
	box-sizing: border-box;
	cursor: pointer;
}
.big {
    width: 0.3rem;
    height: 2rem;
    background: #fff;
    position: absolute;
    left: 0.2rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.round .roundonround{
	height: 0.16rem;
	width: 0.16rem;
	border: 0.05rem solid white;
	border-radius: 50%;
	background: #fff;
}
.goods img{
	margin-left: 0.55rem;
	height: 2rem;
	width: 2rem;
	display: block;	
}
.goods ul{
	flex: 1;
	margin-left: 0.24rem;
	border-bottom: 0.02rem solid #e5e5e5;
	height: 2rem;
	padding-right: 0.24rem;
	padding-bottom: 0.2rem;
}
.goods ul li.li_one{
	font-size: 0.28rem;
	color: #333333;
	line-height: 0.36rem;
	height: 0.72rem;
	font-weight: 900;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	word-wrap:break-word
}
.goods ul li.li_two{
	color: #999999;
	font-size: 0.24rem;
	line-height: 0.45rem;
}
.goods ul li.li_two i{
	font-size: 0.24rem;
	color: #999999;
	padding-left: 1rem;
}
.goods ul li.li_three{
	font-size: 0.2rem;
	background:#33cc33;
	color: white;
	width: 1rem;
	text-align: center;
	line-height: 0.3rem;
}
.goods ul li.li_four{
	font-size: 0.2rem;
	overflow: hidden;
	color: #ff9900;
}
.goods ul li.li_four i{
	display: block;
	float: left;
	padding-right: 0.3rem;
}

.goods ul li.li_four strong{
	font-size: 0.2rem;
	color: #999999;
	padding-right: 0.1rem;
	float: left;
	padding-top: 0.2rem;
}
.goods ul li.li_four i strong{
	font-size: 0.15rem;
	color: #ff9900;
	padding-right: 0;
}
.goods ul li.li_four em{
	color: #333;
	font-size: 0.2rem;
	float: right;
	overflow: hidden;
	padding-top: 0.2rem;
}
.goods ul li.li_four em i{
	font-size: 0.2rem;
	padding: 0;
	float: right;
}
.goods ul li.li_four .money em{
	font-size:0.4rem;
	color: #ff9900;
	float: right;
	display: block;
	padding: 0;
}
.lastgoods{
	border-bottom: 0.02rem solid #e5e5e5;
}
.lastgoods ul{
	border: none;
}

.goods:last-child{
	margin-bottom: 2rem;
}
.goods p{
	width: 1.5rem;
	border: 0.02rem solid #808080;
	height: 0.5rem;
	line-height: 0.5rem;
	margin: 0.6rem auto;
	display: flex;
}
.goods p i{
	text-align: center;
	font-size: 0.4rem;
	flex: 30%;
}
.goods p a{
	border-left: 0.02rem solid #808080;
	border-right: 0.02rem solid #808080;
	display: block;
	text-align: center;
	font-size: 0.4rem;
	flex: 40%;
}
.goods p strong{
	text-align: center;
	font-size: 0.4rem;
	flex: 30%;
}
.goods .remov{
	width: 1rem;
	background: red;
	text-align: center;
	line-height: 2rem;
	position: absolute;
	right: 0.2rem;
	top: 0.2rem;
	display: none;
	color: white;
	height: 2rem;
	cursor: pointer;
}
.balance{
	width: 100%;
	left: 0;
	bottom: 0.98rem;
	position: fixed;
	display: flex;
	border-top: 0.01rem solid #808080;
}
.balance .right_s{
	height: 0.88rem;
	width: 1.8rem;
	font-size: 0.3rem;
	background: #ee8219;
	padding-top: 0.01rem;
	display: block;
	line-height: 0.88rem;
	text-align: center;
	color: white;
	cursor: pointer;
}
.balance .left_b{
	flex: 1;
	background: #fff;
	overflow: hidden;
	position: relative;
}
.balance .left_b .checkall{
	float: left;
	margin-left: 0.14rem;
	cursor: pointer;
}
.balance .left_b .checkall i{
	font-size: 0.28rem;
	display: block;
	margin: 0.25rem 0 0 0.65rem;
}
.balance .left_b .checkall .q_round{
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	border-radius: 50%;
	height: 0.28rem;
	width: 0.28rem;
	display: block;
	border: 0.01rem solid #383838;
	box-sizing: border-box;
	cursor: pointer;
}
.balance .left_b .checkall .q_round .roundonround{
	height: 0.16rem;
	width: 0.16rem;
	border: 0.05rem solid white;
	border-radius: 50%;
	background: #fff;
}
.shop{
}
.shop .roundonround{
	background: #33ccff!important;
}
.shop_one{
}
.shop_one .roundonround{
	background: #33ccff!important;
}
.balance .left_b ul{
	float: right;
	padding: 0.1rem 0.2rem 0 0;
}
.balance .left_b ul li{
	font-size: 0.23rem;
	text-align: right;
}
 .balance .left_b ul li i{
	color: #ee8219;
}










