header{
	text-align: center;
	background:  #33ccff;
	width: 100%;
	height: 0.88rem;
	position: relative;
}
header p{
	position: absolute;
	left: 0.32rem;
	top:50%;
	display: inline-block;
    height: 0.2rem;
    width: 0.2rem;
    border-bottom: 0.04rem solid white;
    border-left: 0.04rem solid white;
    transform:translateY(-50%) scaleY(1) rotate(45deg);
    cursor: pointer;
}
header span{
	color: white;
	line-height: 0.88rem;
	font-size: 0.32rem;
	display: inline-block;
}
.qh{
	display: flex;
}

.import{
	margin: 0.36rem 0.3rem;
}
ul{
	border-radius: 0.08rem;	
}
ul li{	
	height: 0.88rem;
	position: relative;
	padding-top: 0.2rem;
}
.import li:first-child{
	padding-top: 0rem;
}
.import ul li input{
	padding-left: 1.08rem;
	box-sizing: border-box;
	position: relative;
	height: 0.88rem;
	width: 100%;
	color: #000;
	font-size: 0.26rem;
	border: 0.02rem solid #e8e8ea;
	border-radius: 0.15rem;
	flex: 1;
}
.import ul li a{
	font-size:0.26rem ;
	color: white;
	display: block;
	background: #fa6c62;
	border-radius: 0.3rem;
	line-height: 0.88rem;
	text-align: center;
	width: 1.8rem;
}
ul li input.phone{
	background: url(../img/3.png) no-repeat left;
	background-position:0.32rem 0.25rem;
	background-size:auto 50%;
}
ul li input.email{
	background: url(../img/3.png) no-repeat left;
	background-position:0.32rem 0.25rem;
	background-size:auto 50%;
}
ul li input.password{
	background: url(../img/4.png) no-repeat left;
	background-position:0.32rem 0.25rem;
	background-size:auto 50%;
}
ul li input.identifying{
	background: url(../img/5.png) no-repeat left;
	background-position:0.32rem 0.25rem;
	background-size:auto 50%;
	flex:1;
	margin-right: 0.1rem;
}
ul li:last-child{
	border:0;
}
.import .tj{
	height: 0.8rem;
	margin: 0.36rem 0;
	text-align: center;
}
.import .tj input{
	box-sizing: border-box;
	border: 0.02rem solid #33ccff;
    border-radius: 0.1rem;
	background: #33ccff;
	line-height: 0.8rem;
	font-size: 0.32rem;
	width: 100%;
	color: white;
	display: inline-block;
	-webkit-appearance: none; 
}




















