header{
	position: relative;
	height: 0.88rem;
	background: #33ccff;
	margin-bottom: 0.23rem;
}
header p{
	position: absolute;
	left: 0.32rem;
	top:50%;
	display: inline-block;
    height: 0.2rem;
    width: 0.2rem;
    border-bottom: 0.04rem solid white;
    border-left: 0.04rem solid white;
    transform:translateY(-50%) scaleY(1) rotate(45deg);
    cursor: pointer;
}
header span{
	font-size: 0.32rem;
	color: white;
	text-align: center;
	line-height: 0.88rem;
	display: block;
}
.import{
}
.import ul{
	padding: 0 0.25rem;
}	
.import ul li{
	display: flex;
	padding-top: 0.2rem;
}
.import ul li input{
	font-size: 0.26rem;
	box-sizing: border-box;
	padding-left: 0.2rem;
	height: 0.88rem;
	border: 0.02rem solid #e8e8ea;
	flex: 1;
	border-radius: 0.15rem;
	-webkit-appearance : none ;
}
.import ul li input#sms{
	margin-right: 0.1rem;
}
.import ul li a{
	font-size:0.26rem ;
	color: white;
	display: block;
	background: #fa6c62;
	border-radius: 0.3rem;
	line-height: 0.88rem;
	text-align: center;
	width: 1.8rem;
}
.import ul li img{
	display: none;
	width: 1.8rem;
}
.import ul li input#refer{
	padding-left: 0;
	border: none;
	background: #33ccff;
	font-size: 0.28rem;
	color: white;
	margin-top: 0.6rem;
	
}














































