span,a,i,strong{text-decoration: none;font-size: .40rem;
color: #000;font-style: normal;display: block;}
p,input{margin: 0;padding: 0;}
.clear{clear: both;}
body{margin: 0;padding:0;background: #fff;position: relative;}
ul,li,h2{padding: 0;margin: 0;list-style: none;}
/*手机分辨率适配*/
@media only screen and (max-device-width: 350px) {
	html{
	font-size:50px;
        }  
}
@media only screen and (min-device-width: 350px)and (max-device-width: 414px){
	html{
	font-size:58px;
        }  
}
@media only screen and (min-device-width: 414px) {
	html{
	font-size: 65px;
        }  
}
