body{
	background: #efefef;
}
/*顶部*/
header{
	height: .9rem;
	line-height: .9rem;
	text-align: center;
	background: #33CCFF;
	color: #fff;
	font-size: .32rem;
	position: relative;
}
header a{
	font-size: .32rem;
	color: #fff;
	position: absolute;
	left: .2rem;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}
/*注销*/
header span{
	display: block;
	font-size: .32rem;
	color: #fff;
	position: absolute;
	right: .2rem;
	top: 0;
}


/*个人图片*/
.imImg{
	padding-top: 40px;
	background: url(../img/gr_4.png) repeat-x;
}
.imImg img{
	display: block;
	width: 1.2rem;
	height: 1.2rem;
	border: 2px solid #fff;
	border-radius: 50%;
	box-sizing: border-box;
	margin: 0 auto;
}
.imImg span{
	display: block;
	font-size: .3rem;
	color: #fff;
	text-align: center;
	line-height: .8rem;
}
/*我的足迹*/
.myFoot{
	position: relative;
}
.myFoot a{
	display: block;
	height: .5rem;
	width: 1px;
	border-left: 1px solid #695e39;
	position:absolute;
	left: 50%;
	top: 50%;
	transform: translateY(-50%);
	box-sizing: border-box;
}
.myColl{
	background: url(../img/ge_5.png) repeat-x;
	float: left;
	width: 50%;
	text-align: center;	
}
.myColl p{
	color: #fff;
	line-height: .5rem;
	font-size: .24rem;
}
.myColl span{
	color: #fff;
	display: block;
	font-size:.24rem ;
	line-height: .5rem;
}
/*菜单列表*/
.menuList{
	display: flex;
	
}
.menuList li{
	background: #fff;
	text-align: center;
	width: 20%;
}
.menuList li i{
	padding-top: .2rem;
	display: block;
}
.menuList li i img{
	width: .36rem;
	height: .3rem;
	display: block;
	margin: 0 auto;
}
.menuList li span{
	line-height:.5rem;
	display: block;
	font-size: .2rem;
}
/*订单列表*/
.myIndet{
	margin-top: .2rem;
	background: #fff;
}
.myIndet li{
	position: relative;
	height: .8rem;
	display: flex;
}
.myIndet li i{
	margin: 0 .2rem 0;
	display: block;
}
.myIndet li i img{
	display:block;
	width: .32rem;
	height: .32rem;
	margin-top: .4rem;
	transform: translateY(-50%);
}
.myIndet li a{
	color: #000;font-size: .3rem;
}
.myIndet li span{
	line-height: .8rem;
	font-size: .3rem;
	flex: 1;
	display: block;
	border-bottom:1px solid #efefef;
	box-sizing: border-box;
}
/*意见与反馈*/
.idea{
	margin: .2rem 0 1.5rem 0;
	background: #fff;
	position: relative;
	height: .8rem;
	display: flex;
}
.idea i{
	margin: 0 .2rem 0;
	display: block;
}
.idea i img{
	display:block;
	width: .32rem;
	height: .32rem;
	margin-top: .4rem;
	transform: translateY(-50%);
}
.idea span{
	line-height: .8rem;
	font-size: .3rem;
	flex: 1;
	display: block;
}
/*底部*/
footer{
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
	border: 1px solid #BFBFBF;
}
.listCode{
	background: #fff;
	display: flex;
}
.listCode li{
	width: 25%;
	text-align: center;
}
.listCode li i{
	padding-top: 5px;
	width: 28px;
	height: 28px;
	display: block;
	margin: 0 auto;
	background:url(../img/dangpu/dpzt.png) no-repeat center;
	background-size: 100px 200px;
}
.listCode li:nth-child(1) i{
	
}
.listCode li:nth-child(2) i{
	background-position: -15px -65px;
}
.listCode li:nth-child(3) i{
	background-position: -15px -105px;
}
.listCode li:nth-child(4) i{
	background-position: -15px -142px;
}

.listCode li:nth-child(4) i img{
	width: 26px;
	height: 26px;
}
.listCode li span{
	font-size: .2rem;
	display: block;
	padding-top:5px;
}
.listCode li span a{
	font-size: .2rem;
	display: block;
	padding-top:5px;
}
.listCode .cur{
	background-position-x: -65px!important;
}







