em{
	font-style: normal;
}
body{
	background: #eeeeee;
}
/*头部*/
header{
	height: .9rem;
	line-height: .9rem;
	color: #fff;
	background: #33CCFF;
	text-align: center;
	font-size: .32rem;
	position: relative;
}
header a{
	position: absolute;
	left: .2rem;
	top: 50%;
	height: .3rem;
	width: .3rem;
	border-left:2px solid #fff;
	border-bottom:2px solid #fff; 
	box-sizing:border-box;
	transform:translateY(-50%) scaleY(.8) rotate(45deg);
	cursor: pointer;
}
/*收货*/
.gain{
	background: #fff;
	position: relative;
}
.gain i{
	display: block;
	width: .6rem;
	height: .8rem;
	background: url(../img/qrd_01.png) no-repeat center;
	position: absolute;
	left: .2rem;
	top: 50%;
	transform: translateY(-50%);
}
.addgain{
	padding: .2rem 0;
	margin:0 .9rem;
}
.addgain p{
	line-height: .4rem;
	font-size:.28rem ;
	display: flex;
}
.addgain p em{
	font-style: normal;
}
.addgain p span{
	font-size:.28rem ;
	display: inline-block
	
}
.addgain p strong{
	font-size:.28rem ;
	font-weight: normal;
	    display: inline-block;flex: 1;
}
.addgain p:nth-child(1){
	font-size:.28rem ;
}
.addgain p:nth-child(3){
	color: #f3a865;
}
.gain a{
	width: .35rem;
	height: .35rem;
	border-left: 3px solid #a3a3a3;
	border-bottom: 3px solid #a3a3a3;
	box-sizing: border-box;
	position: absolute;
	right: .4rem;
	top:50%;
	transform: translateY(-50%) rotate(-135deg);
}

/*订单详情*/
.content{
	margin-top: .2rem;
}
.content h2{
	position: relative;
	background: #fff;
	height: .88rem;
	line-height: .88rem;
	display: flex;
	font-size: .30rem;
	padding-left: .7rem;
}
.content h2 i{
	display: block;
	width: .5rem;
	position: absolute;
	left: .2rem;
	top: 50%;
	transform: translateY(-50%);
}.content h2 i img{
	width: .4rem;
}
/*书籍详情*/
.conGood{
	padding: .2rem 0;
	display: flex;
	position: relative;
	
}
.goodImg{
	width:1.5rem;
	height:1.5rem;
	background: #fff;
	position: absolute;
	left: .2rem;
	top: 50%;
	transform: translateY(-50%);
}
.goodImg img{

	height: 1.5rem;
	display: block;
	margin: 0 auto;
	
}

.dyf{
	margin-left: 2rem;
	flex: 1;
}
.dyf p{
	
	font-size: .25rem;
}
.dyf span{
	display: block;
	font-size: .23rem;
	width: 1.2rem;
	height: .4rem;
	line-height: .4rem;
	border: 1px solid red;
	box-sizing: border-box;
	border-radius: .1rem;
	text-align: center;
}
.money{
	text-align: right;
	font-size: .32rem;margin-right: .1rem;
}
.money i:nth-child(1){
	line-height: .6rem;
	display:inline-block;
	font-size: .32rem;
}
.money span{
	display: inline-block;
}
/*产品列表*/
.listLi{
	background: #fff;
	margin-bottom: 3rem;
}
.listLi li{
	margin:  0 .2rem;
	font-size: .28rem;
	border-bottom: 1px solid #cacaca;
	line-height: .86rem;
	overflow: hidden;
}
.listLi li p{
	float: left;
	font-size: .28rem;
}
.listLi li i{
	float: right;
	display: block;
	width: 1rem;
	height: .5rem;
	border: 1px solid #cacaca;
	border-radius: .3rem;
	margin-top: .13rem;
}
.listLi li i a{
	border: 1px solid #cacaca;
	box-sizing: border-box;
	width: .5rem;
	height: .5rem;
	display: block;
	border-radius: .3rem;
}
.listLi li span{
	padding-right: .2rem;
	float: right;
	font-size: .28rem;
	display: block;
}
.listLi li a{
	display: block;
}
.listLi li input{
	height: .86rem;
	line-height: .86rem;
	border: 0;
	font-size: .28rem;
	outline: none;
}
.listLi li:nth-child(4){
	text-align: right;
	border: 0;
}
.listLi li:nth-child(4) strong{
	color: red;
	font-weight: normal;
	
}
.listLi li strong{
	display: inline-block;
}
/*底部*/
footer{
	bottom: 0;
	left: 0;
	width: 100%;
	position: fixed;
	height: 1rem;
	background: #fff;
	font-size: .28rem;
	border-top: 1px solid #cacaca;
	text-align: right;
	overflow: hidden;
	line-height: 1rem;
}
.hjfoot {
	float: left;
    text-align: right;    padding-left: 1.2rem;}
footer p{
	float: right;
	text-align: center;
	width: 2rem;
	height: 1rem;
	line-height: 1rem;
	float: right;
	background: #ee8219;
	color: #fff;
}
footer i{
	font-size: .28rem;
	color: red;
	display: inline-block;
}

footer strong{
	font-weight: normal;
	color: red;
	display: inline-block;
}

.clickPi{
	position: relative;cursor: pointer;
}
.backPi{
	cursor: pointer;
}
.submitOrder{cursor: pointer;}






